.card {
    margin: 40px;
    margin-top: 0px;
    font-family: Arial;
    text-align: center;

}

.c_footer{
    font-family: Arial;
    font-size: 10px;
    text-align: center;
}

.cb{
    verticalAlign: middle;
    margin:auto;
}

.body_c{
    overflow: auto;
    paddingTop:0;
    height: min-content;
}

.card_m{
    min-height: 900px;
    border: 1px solid black;
}