.card {
    margin: 2%;
    margin-top: 0%;
    font-family: Ubuntu;
    text-align: center;

}

.c_footer{
    font-family: Ubuntu;
    font-size: 10px;
    text-align: center;
}

.cb{
    verticalAlign: middle;
    margin:auto;
}

.card-body{
    min-height: 80%;
}

.body_c{
    overflow: auto;
    paddingTop:0;
    height: min-content;
    max-height: 80%;
}

.card_m{
    height: 100%;
    border: 1px solid black;

}
@font-face {
    font-family: 'Ubuntu';
    src: url("../assets/fonts/Ubuntu-Regular.ttf");
}