.chkbxs{
    text-align: left;
    /*direction: rtl;*/
}

.lbl {
    padding-left: 8px;
    padding-right: 45px;
}

.note{
    font-size: 12px;
}

.rowC{
    display:flex;
    flex-direction:row;
    margin-bottom: 3%;
}

.space{
    margin-left: 3%;
}