body {
    background-image: url("./assets/backgrounds/main-bg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.title{
    padding-left: 2%;
    width: 30%;
    height: auto;
}

.mainDiv{
    min-height: 80%;
}

.App{
    height: 100%;
}