body {
    background-image: url("./assets/backgrounds/main-bg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.title{
    padding-left: 30px;
    width: 30%;
    height: auto;
}
